.container {
  text-align: center;
}

h1 {
  color: #fcedd7;
  font-size: 40px;
  background-color: #d3a871;
  border: 4px solid #5b4333;
  margin-top: 4px;
  padding: 10px;
}

p {
  color: #fcedd7;
  font-size: 20px;
  background-color: #d3a871;
}

h2 {
  color: #844204;
  text-decoration: underline;
}

h3 {
  color: #3f1d0b;
  font-size: 25px;
  text-decoration: underline;
  margin-top: 3px;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 300;
}

.recipe {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
  padding: 4px;
}

footer {
  text-align: center;
  opacity: 0.4;
}
